header {
  background: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 909px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  
}

.header__info {
  max-width: 1200px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}

.header__info__tittle {
  display: flex;
  gap: 10px;
  align-items: center;
  
  
}

.header__info__tittle-label {
  height: 35px;
  width: 72px;
}


.header__info_title__naming {
  color:#E5E5E6;
  font-size: 16px;
  font-weight: 500;
  
}

.header__info__title__nam {
  color:#909195;
  font-size: 9px;
  font-weight: 400
  
}
.header__info__rating {
  display: flex;
  gap: 10px;
}

.header__info__rating-stat {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  margin-top: -43px;
}

.header__info__rating-grade {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header__info__rating-stars {
  display: flex;
  gap: 5px;
}

.header__info__rating-txt {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: 6px;
}

.header__info__rating-txt span {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__info__calculator {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 13px;
  
}

.header__info__calculator__button {
  width: 237px;
  height: 45px;
  border-radius: 4px;
  background-color: #84B73D;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #FFFFFF;
}

.header__info__calculator__button-text {
  font-size: 12px;
  font-weight: 600;
  color: #FBFFFF;
}


.header__info__calculator__mail {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.header__info_calculator__mail__img {
  width: 10px;
  height: 7px;
  cursor: pointer;
}

.header__info__calc__email-address {
    font-size: 11px;
    font-weight: 600;
  color: #96989F;
  cursor: pointer;
}

.header__info__massanger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: center;

}

.header__info__chat-img {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.header__info__massanger-text {
  font-size: 10px;
  font-weight: 400;
  color:#D2D3D6;
  cursor: pointer;
}


.header__info__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.header__info__phone-txt {
  font-size: 10px;
  font-weight: 400;
  color: #e6e7e9;
}

.header__info__phone__number {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.header__info__phone-feedback {
  font-size: 12px;
  font-weight: 600;
  color: #87BF3C;
  cursor: pointer;
}

.header_derevo {
  position: absolute;
  margin-top: 150px;
  width: 411px;
  height: 471px;
  left: -175px;
  transform: rotate(-200deg)
}


.header__navigation__list {
  max-width: 1129px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  gap: 0px;
}

.header__navigation__link {
color: #FBFFFF;
}

.header__search {
  color: #FFFFFF;
  cursor: pointer;
}

.header-inner {
  flex-direction: column;
  display: flex;
  top: 280px;
  position: absolute;
  
  max-width: 1100px;
  min-height: 387px;
  margin-left:  40px;
}
.header-inner__tittle {
  width: 429px;
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  top: 63px;
  margin-left: 165px;
}

.header-inner__tittle__header {
  font-size: 48px;
  font-weight: 400;
  color: #FFFFFF;
}


.header-inner__description {
  margin-left: 165px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 18px;
}

.header-inner__description-text {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}


.header-inner__button {
  margin-left: 165px;
  background-color: #FEAA01;
  color: #FFFFFF;
  padding: 20px 42px;
  font-weight: 700px;
  border-radius: 4px;
  margin-top: 90px;
  
  cursor: pointer;
  width: 285px;
  height: 60px;
  font-size: 16px;
}

.header-inner_advantages {
  margin-left: 165px;
  display: flex;
  gap: 70px;
  justify-content: flex-start;
  margin-top: 100px;
  
}



.advantages_inner-description {
  width: auto;
  display: flex;
  color: #FFFFFF;
  size: 12px;
}

