.section__calculation_section {
  position: absolute;
  width: 1106px;
  height: 704px;
  top: 850px;
  background-color: #ffffff;
  border-radius: 5px 5px 99px 5px;
  box-shadow: 0px 0px 100px 38px rgba(202,  202,  202, 0.5);
  -webkit-box-shadow: 0px 0px 100px 38px rgba(202,  202,  202, 0.5);
  -moz-box-shadow: 0px 0px 100px 38px rgba(202,  202,  202, 0.5);
}

.section__info {
  display: flex;
  justify-content: center;

}


.section__tittle {
  color:  #2D2D2F;
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  border-width: 538px;
  height: 72px;
  margin-top: 63px;
  margin-left: 108px;
  align-items: center;
  line-height: 30px;
  text-align: center;
  

}
.section__tittle_section {
  font-weight: 400;
  line-height: 30px;
}
.section__swipe {
  display: flex;
  position: absolute;
  border-width: 538px;
  background-color:#EFF3F7;
  width: 438px;
  height: 12px;
  margin-top: 175px;
  margin-left: 103px;
  border-radius: 6px;
}

.mask__swipe {
  display: flex;
  position: absolute;
  width: 544px;
  height: 12px;
  margin-top: 175px;
  margin-left: 103px;
}

.rectange__number {
  display: flex;
  position: absolute;
  width: 30px;
  height: 28px;
  margin-top: 218px;
  margin-left: 213px;
  border-radius: 6px;
  background-color: #EFF3F7;
  
}
.rectange__number-one {
  position: absolute;
  width: 30px;
  height: 28px;
  margin-top: 220px;
  margin-left: 217px;
  color: #716A6B;
  font-size: 20px;
  font-weight: 300px;
}

.section__choice{
  position: absolute;
  width: 233px;
  height: 19px;
  margin-top: 220px;
  margin-left: 260px;
  font-size: 25px;
  font-weight: 600;
  color: #262425;
}


.choise__build_calc {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  position: absolute;
  width: 156px;
  height: 230px;
  margin-top: 276px;
  margin-left: 105px;
  object-fit: contain;
  
}

.choise__build-text {
  display: flex;
  position: relative;
  top: 170px;
  right: 145px;
  margin: auto;
  font-size: 19px;
  font-weight: 600;
  color: #555050;
}

.section__arch {
  display: flex;
  position: absolute;
  width: 346px;
  height: 652px;
  margin-top: 52px;
  margin-left: 760px;
  background-color:#F5F6FA;
  border-top-left-radius: 61px;
  border-bottom-right-radius: 99px;
}

.section_info_derevo {
  margin-top: -200px;
  position: relative;
  width: 553px;
  height: 499px;
  margin-left: 1100px;
  z-index: 1;

}

.section_man {
  box-sizing: auto;
  width: 250px;
  height: 269px;
  margin-left: 50px
}

.checkbox_man {
  position: absolute;
  margin-left: 252px;
}

.worker_fio {
  display: flex;
  position: absolute;
  margin-top: 252px;
  left: 77px;
  max-width: 385px;
  height: 19px;
  font-size: 25px;
  font-weight: 600;
  color: #272627;
}

.job_title {
  display: flex;
  position: absolute;
  margin-top: 298px;
  left: 103px;
  width: 133px;
  height: 11px;
  font-size: 14px;
  font-weight: 400;
  color: #A09EA1;
}

.advantages_calculation {
  display: flex;
  position: absolute;
  margin-top: 333px;
  left: 45px;
  width: 330px;
  height: 13px;
  font-size: 17px;
  font-weight: 400;
  gap: 4px;
  color: #4B4747;
}

.advantages_calculation_advantages{
  font-weight: 600;
}

.button_advantages {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 40px;
  gap: 10px;
  
}

.button_advantages-sale {
  background:url(../images/section_calc/button_sale.svg);
  width: 250px;
  height: 67px;
  border-radius: 32px, 0px, 32px, 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  
}

.button_advantages-build {
  background: url(../images/section_calc/button_build.svg);
  width: 250px;
  height: 67px;
  border-radius: 32px, 0px, 32px, 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.button_advantages-selections {
  background: url(../images/section_calc/button_selection.svg);
  width: 250px;
  height: 67px;
  border-radius: 32px, 0px, 32px, 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  
}

.button_advantages-text {
  font-size: 13px;
  color: #4B4747;
  width: 117px;
}

.button_advantages-text-button {
  font-weight: 600;
}



.button_advantages-text1 {
  width: 162px;
  font-size: 13px;
  color: #F3F3F3;
  font-weight: 600;
}

.button_advantages-text-button2 {
  font-weight: 400;
}

.button__choise {
  display: flex;
  position: absolute;
}

.choise_orange {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 210px;
  background: #FEAA01;
  border: solid #FFFFFF;
  border-radius: 50%;
  left: 110px;
  cursor: pointer;
}

.choise_gray {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 210px;
  background: #EFF3F7;
  border: solid #FFFFFF;
  border-radius: 50%;
  left: 405px;
  cursor: pointer;
}

.choise__info {
  display: flex;
  align-items: center;
  position: absolute;
  width: 205px;
  height: 30px;
  margin-top: 360px;
  gap: 10px;
  color: #777779;

  
}

.choise_info_text {
  font-weight: 600;
  font-size: 11px;
}

.choise_info_text_choise {
  font-weight: 400;
}

.button_further {
  display: flex;
  position: absolute;
  align-items: center;
  top: 350px;
  left: 375px;
  
  
}

.further_button_text {
  width: 138px;
  height: 47px;
  background: #FEAA01;
  color: #FDFDFA;
  border-radius: 2px;
  cursor: pointer;
}

.house_price {
  margin-top: 1590px;
  position: absolute;
  max-width: 1105px;
  min-height: 820px;

  background-color:#F5F6FA;
}

.section__project_build {
  top: 1593px;
  display: flex;
  position: absolute;
  align-items: center;
  
}

.section__project_build-text {
  position: relative;
  width: 1004px;
  height: 48px;
  top: 900px;
  font-size: 47px;
  font-weight: 700;
  left: 750px;
  color: #2D2D2F;
  
  
}

.section__navigation_list {
  display: flex;
  position: relative;
  width: 1400px;
  min-height: 73px;
  top: 1000px;
  right: 350px;
  gap: 25px;
  align-items: center;
  padding: 8px;
  
  
}

.navigation_scroll {
  display: flex;
  cursor: pointer;

  
}

.section__navigation_link {
  background-color: #EFEFEF;
  color: #5C5F66;
  justify-content: space-between;
  padding:  5px;
  height: 14px;
  align-items: center;
  font-size: 13px;
  border-radius: 2px;
  max-width: 1400px;
  cursor: pointer;
}

.section__navigation_link-check {
  background-color: #73B918;
  color: #FFFFFF;
  padding: 5px;
  align-items: center;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}

.navigation__open_all {
  color: #F7D047;
  size: 14px;
  font-weight: 600;
  margin-left: 13px;
  border-bottom: dotted;
  cursor: pointer;

}

.catalog_build_popular{
  margin-left: 600px;
  margin-top:3200px;
  position: absolute;
  max-width: 1100px;
  border-collapse: separate;
  border-spacing: 10px
  
}


.catalog_build_popular_houses {
  border-color: #ffffff;
  border-collapse: separate;
  border-spacing: 30px;
  
}

.catalog_build_popular_check {
  display: flex;
  position:absolute;
  max-width: 1100px;
  max-lines: 505px;
  top: 1300px;
  border-radius: 12px;
  background-color: #ffffff;
  left: 650px;
  
  

}

.catalog_build-hoyse {
  background-color: #ffffff;
  border-radius: 10px;
  
}



.build_name1 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 270px;
  left: 50px;
  color: #000000;
}

.build_name2 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 270px;
  left: 430px;
  color: #000000;
}

.build_name3 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 270px;
  left: 810px;
  color: #000000;
}

.build_name4 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 810px;
  left: 50px;
  color: #000000;
}


.build_name5 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 810px;
  left: 430px;
  color: #000000;
}

.build_name6 {
  display: flex;
  position: absolute;
  width: 128px;
  height: 29px;
  font-weight: 700;
  font-size: 29px;
  top: 810px;
  left: 810px;
  color: #000000;
  
}



.info_build {
  margin-top: 70px;
  display: flex;
	width: 110%;
	border-collapse:separate;	height: auto;
  border-spacing: 45px 10px;
  color: #7A7D81;
  
}

.info_build-txt {
  font-weight: 400;
  font-size: 13px;
  
}

.info_build-txt-build {
  font-weight: 700;
}

.overview_house-type {
  gap: 5px;
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 13px;
  color: #7A7D81;
}

.type_house-text {
  font-weight: 400;
}

.type_house-text-type {
  margin-left: 150px;
  font-weight: 600;
  color: #5C5F66;
}

.overview_house-price {
  gap: 5px;
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 13px;
  color: #7A7D81;
}


.section__house_price {
  flex-direction: column;
  align-items: center;
  margin-top: 759px;
  display: flex;
  position: absolute;
  
}

.section__house_price-text {
  align-items: center;
  text-align: center;
  width: 1021px;
  height: 95px;
  top: 1579px;
  left: 209px;
  color: #000000;
  font-size: 47px;
  font-weight: 700;
}

.section__house_price-text span {
  font-weight: 400;
}

.section__house_price-catalog {
  display: grid;
  margin-top: 120px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	
	
}

.div1 {
	grid-area: 1 / 1 / 3 / 2;
  background: url(../images/catalog_build_price/frame_houses.svg);
  width: 348px;
  height: 351px;
  padding: 25px 30px;
  box-sizing: border-box;
  
  
  
  
}
.div2 {
	grid-area: 3/1/4/2;
  background: url(../images/catalog_build_price/trans_baths.svg);
  height: 161px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
	padding: 25px 40px;
  gap: 39px;
  
}
.div3 {
	grid-area: 1/2/2/3;
  background: url(../images/catalog_build_price/timber_houses.svg) ;
  height: 161px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
	padding: 20px 40px;
  gap: 39px;
  
}
.div4 {
	grid-area: 2/2/3/3;
  background: url(../images/catalog_build_price/timber_baths.svg);
  height: 161px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
	padding: 20px 40px;
  gap: 39px;
  
}
.div5 {
	grid-area: 3/2/4/3;
  background: url(../images/catalog_build_price/log_houses.svg);
  height: 161px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
	padding: 20px 40px;
  gap: 39px;
}
.div6 {
	grid-area: 1/3/2/4;
  background: url(../images/catalog_build_price/log_houses2.svg);
  height: 161px;
  width: 348px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  gap: 39px;
	
}
.div7 {
	grid-area: 2 / 3 / 4 / 3;
  background: url(../images/catalog_build_price/frame_baths.svg);
  width: 348px;
  height: 351px;
  padding: 25px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
	
}

.section__card-line {
  display: flex;
  
  align-items: flex-end;
}

.section__card-line1 {
  margin-top: 155px;
}

.project-button {
  width: 79px;
  padding: 5px 8px;
  background-color: #FFFFFF;
  border-radius: 13px;
  height: max-content;
  font-size: 9px;
}

.project-button-view {
  width: 132px;
  padding: 11px 16px;
  color: #FFFFFF;
  background-color: #73B918;
  border-radius: 3px;
  height: 40px;
  font-size: 10px;
  font-weight: 700;
  
  
}

.project-button-view1 {
  width: 159px;
  padding: 11px 16px;
  color: #FFFFFF;
  background-color: #73B918;
  border-radius: 3px;
  height: 40px;
  font-size: 10px;
  font-weight: 700;
}

.frame_houses {
  width: 157px;
  color: #FFFFFF;
  font-size: 29px;
  font-weight: 700;
}

.frame_baths {
  width: 157px;
  color: #FFFFFF;
  font-size: 29px;
  font-weight: 700;
}

.trans_baths {
  width: 135px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
}

.timber_houses {
  width: 95px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
}

.timber_baths {
  width: 95px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
}

.log_houses {
  width: 118px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
}

.log_houses2 {
  width: 118px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
}

.frame_houses-price {
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
}

.frame_houses-price span {
  font-size: 23px;
  font-weight: 700;
}

.price_house-text-price {
  margin-left: 35px;
  font-weight: 600;
  color: #5C5F66;

}

.price_house-text-green {
  font-size: 31px;
  font-weight: 700;
  margin-left: 5px;
  color: #73B918;

}

.button__projects {
  display: flex;
  align-items: center;
}

.button__projects-text {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
  background-color: #FEAA01;
  width: 182px;
  height: 39px;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  justify-content: center;
  margin-left: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.individual_build {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  
}

.advantage_build-text {
  font-weight: 400;
  margin-left: 10px;
  width: 76px;
  height: 18px;
  font-size: 9px;
  color: #B8B8BA;
}

.section_project_approval {
  display: flex;
  width: 1300px;
  top: 3890px;
  height: 700px;
  position:absolute;
  flex-direction: column;
  
  
}

.section_project_approval-tittle {
  width: 825px;
  position: absolute;
  font-size: 47px;
  font-weight: 400;
  color: #2D2D2F;
  left: 250px;
}

.section_project_approval-tittle-approval {
  font-weight: 700;
}

.section_project_list {
  display: flex;
  margin-top: 100px;
  width: 1105px;
  gap: 30px;
  margin-left: 110px;
}

.section_project_link {
  background-color: #EFEFEF;
  width: 159px;
  height: 40px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 50px;
  font-weight: 600;
  color: #333438;
}

.section_project_link-check {
  background-color: #73B918;
  width: 159px;
  height: 40px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 50px;
  font-weight: 600;
  color: #FFFFFF;
}

.approval_info {
  display: flex;
  width: 1105px;
  height: 600px;
  top: 1000px;

}

.approval_people {
  position: absolute;
  display: flex;
  top: 170px;
  width: 538px;
  height: 380px;
  left: 100px;
}

.approval_info-text {
  display: flex;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 670px;
  flex-direction: column;
  align-items: flex-start;
  
}

.approval_time {
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  color: #7A7D81;
}

.approval_time-text {
  font-weight: 600;
  color: #4C4F56;
}

.approval_project-text {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #4C4F56;
}

.approval_project_cottage {
  margin-top: 30px;
  width: 392px;
  height: 73px;
  font-size: 35px;
  font-weight: 800;
  color: #4C4F56;
  margin-bottom: 21px;

  
}

.approval_project-text-project {
  font-weight: 600;
}

.first_state-info {
  width: 230px;
  
  background-color: #EFEFEF;
  color: #4C4F56;
  font-size: 14px;
  font-weight: 400;
  padding: 26px 0px 26px 80px;
  border-radius: 5px;
  align-items: flex-start;
  line-height: 17px;
}

.approval_info-icon {
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  position: absolute;
  margin-left: -60px;
  margin-top: 15px;
  
}



.first_state-info-text-info {
  font-weight: 700;
  
}

.approval_exame_contract-info {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  width: 151px;
  height: 215px;
  border-radius: 51px 0px 0px 0px;
  box-shadow: 0px 0px 30px 8px rgba(211, 211, 211, 0.5);
  left: 1010px;
  top: 310px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  
  
}

.logo_house_orng {
  margin-top: 20px;
  width: 59px;
  height: 33px;
}

.line1 {
  width: 55px;
}
.line2 {
width: 90px;
}

.approval_exame_contract-info-text {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #505457;
  
}

.button_download {
  background-color: #F3AC3C;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 20px;
}